<%- include('parts/html_head') %>
<%- include('parts/navbar') %>
<div class="container">
    <form name="form1" method="POST" action="#">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <% if(locals.forgetmail){ %>
    <div>Your password:</div>
    <div><%= forgetmail %></div>
    <% }%>
    <% if(locals.flashMsg){ %>
        <div class="alert alert-danger" role="alert" style="margin-top: 20px;">
          <%= flashMsg %>
        </div>
        <% } %>
    
</div>

<%- include('parts/scripts') %>
<%- include('parts/html_foot') %>