<%- include('parts/html_head') %>
<style>
    .allbucket {
        display: flex;
        justify-content: center;
        font-family: 微軟正黑體;
        padding: 60px 40px;
        background-color: white;
    }

    .rightSide {
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }

    h2 {
        color: #C60E55;
    }

    .subb {
        width: 100px;
    }

    .picchange {
        overflow: hidden;
    }

    .picchange img {
        transform: scale(1, 1);
        transition: all 0.2s ease-out;
    }

    .picchange img:hover {
        transform: scale(1.2, 1.2);
    }
</style>
<%- include('parts/navbar') %>
<div class="indexPage" style="padding: 50px;">
    <div class="container">
        <div class="allbucket">
            <div>
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" style="border: 4px solid #E3AEC2;">
                        <div class="carousel-item active picchange">
                            <img src="<%= rows[0].pic_out %>">
                        </div>
                        <div class="carousel-item picchange">
                            <img src="<%= rows[0].pic_in1 %>">
                        </div>
                        <div class="carousel-item picchange">
                            <img src="<%= rows[0].pic_in2 %>">
                        </div>
                        <div class="carousel-item picchange">
                            <img src="<%= rows[0].pic_in3 %>">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="rightSide">
                <div>
                    <h2><%= rows[0].product_name %></h2>
                </div>
                <div style="height: 250px;">
                    <p><%= rows[0].intro %></p>
                </div>
                <div>
                    <form action="#" method="POST">
                        <div style="display: flex; justify-content: center;">
                            <div style="line-height: 46px;margin-right: 20px;">
                                <label for="quantity">Quantity:</label>
                            </div>
                            <div>
                                <input type="number" name="quantity" id="quantity" class="form-control subb"
                                    value="1">
                            </div>
                            <div style="margin-left: 30px;">
                                <button type="button" class="btn btn-primary" id="add"
                                    value="<%= rows[0].good_id %>">Add To Cart</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('parts/scripts') %>
<script>
    $('#add').on('click', addToCart);
    function addToCart() {
        itemToCart = `good_id=${$('#add').val()}&quantity=${$('#quantity').val()}`
        $.post('/cart', itemToCart, function (data) {
            console.log(data);
        }, 'json');
        return false;
    }
</script>
<%- include('parts/html_foot') %>